@model RoutingModel

<html>
<head>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <table class="table table-bordered table-striped">
        <tr>
            <td>Controller</td>
            <td>@Model.ControllerName</td>
        </tr>
        <tr>
            <td>Action</td>
            <td>@Model.ActionName</td>
        </tr>
        @foreach (var item in Model.RoutData)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </table>

    <!-- This is static link -->
    <div>
        <a href="/home/index">Main Page</a>
    </div>
    <!-- This is dynamic link -->
    <div>
        <a href="@Url.Action("index")">Main Page 2</a>
    </div>
    <!-- This is dynamic link -->
    <div>
        @Html.ActionLink("Go to main page", "index")
    </div>
</body>
</html>